<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion = "32"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_img_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_img_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyBand"
        tools:targetApi="31"
        android:windowSoftInputMode = "adjustNothing"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name="com.example.dailyband.Start.SplashActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.dailyband.Start.StartActivity"
            android:exported="true">

        </activity>

        <activity android:name=".Home.HomeMain"
            android:exported="true">

        </activity>
        <activity android:name=".Love.LoveActivity"
            android:exported="true">

        </activity>
        <activity android:name=".Collection.CollectionActivity"
            android:exported="true">

        </activity>

        <activity android:name=".Utils.SharedData"
            android:exported="true">

        </activity>

        <activity android:name=".Login.LoginActivity"
            android:exported="true">
        </activity>

        <activity android:name=".Login.RegisterActivity"
            android:exported="true">
        </activity>

        <activity android:name=".MusicAdd.AddMusic"
            android:windowSoftInputMode="adjustNothing"
            android:exported="true">
        </activity>
        <activity android:name=".ShowMusic.NewPickMusic"
            android:windowSoftInputMode="adjustNothing"
            android:exported="true">
        </activity>

        <activity android:name=".ShowMusic.ArtistInfo"
            android:exported="true">
        </activity>

        <activity android:name=".Setting.NewSettingActivity"
            android:exported="true">
        </activity>
        <activity android:name=".MusicAdd.AddCaption"
            android:exported="true">
        </activity>
        <service
            android:name=".Utils.MusicService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>