<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion = "32"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyBand"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name="com.example.dailyband.StartActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".HomeMain"
            android:exported="true">

        </activity>

        <activity android:name=".LoginActivity"
            android:exported="true">
        </activity>
        <activity android:name=".PickMusic"
            android:exported="true">
        </activity>

        <activity android:name=".RegisterActivity"
            android:exported="true">
        </activity>

        <activity android:name=".AddMusic"
            android:exported="true">
        </activity>
        <activity android:name=".Utils.TestAdd"
            android:exported="true">
        </activity>

        <activity android:name=".SettingActivity"
            android:exported="true">
        </activity>
        <activity android:name=".TestParent"
            android:exported="true">
        </activity>
        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>